.nguoidung-main .nguoidung-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.nguoidung-main .nguoidung-header p {
    font-size: 20px;
    margin: 0;
    color: #00529c;
    font-weight: 400;
}

.nguoidung-main .nguoidung-search {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.nguoidung-main .nguoidung-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}