.footer-main{
    background-color: white !important;
    color: black !important;
    font-family: 'Tahoma';
    font-size: 14px;
    padding-left: 20px !important;
    height: 40px;
    align-content: center;
}