.donvi-main .donvi-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.donvi-main .donvi-header p {
    font-size: 20px;
    margin: 0;
    color: #00529c;
    font-weight: 400;
}

.donvi-main .donvi-search {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.donvi-main .donvi-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

/* Tree level styling */
.donvi-level-0 {
    font-weight: 400;
}