.row-error
{
    color: #f10a0ad1;
}
.row-add
{
    background-color: #2483c75c;
}
.row-edit
{
    background-color: #fa8c1552;
}
.col-add
{
    color: blue;
    font-weight: bold;
}
.col-edit
{
    font-weight: bold;
}
.thongtin
{
    color: red;
}
.table-dashboard
{
    border: solid 1px gray;
    height: 100%;
}
.table-dashboard .ant-spin-nested-loading {
    height: 100% !important;

    .ant-spin-container {
       height: 100% !important;
       display: flex;
       flex-flow: column nowrap;

       .ant-table {
          flex: auto;
          overflow: hidden;

          .ant-table-container {
             height: 100% !important;
             display: flex;
             flex-flow: column nowrap;
.ant-table-content{
 height: 100% !important;
 table{
   height: 100% !important;
 }
}
             .ant-table-header {
                flex: none;
             }

             .ant-table-body {
                flex: auto;
                overflow: scroll;
                table{
                    height: 100%;
                  }
             }
          }
       }
       .ant-table-pagination {
          flex: none;
       }
    }
 }
.table-dashboard table
{
    margin-top: -11px;
}
.table-dashboard tr td
{
    padding: 5px !important;
    border: solid 1px gray;
    text-align: center;
}
.table-dashboard .dashboard-row-tong{
    background-color: #FFFFCC;
    font-weight: bold;
}