@import "./styles/dark-theme.css";
@import "./styles/light-theme.css";
@import "./styles/global.css";

/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #aaa;
}

::-webkit-scrollbar-thumb {
  background-color: #335ddc;
  border-radius: 8px;
} */

body {
  font-family: "Tahoma";
  transition: background-color 0.3s, color 0.3s;
}



p {
  font-family: Tahoma;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./assets/images/ImageIntro2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-size: cover;
  /* background-color: hsla(0, 0%, 31%, 0.918); */
}

.login-page .loginimage {
  align-items: center;
  text-align: center;
}

.login-page .logologin {
  width: 80%;
  position: relative;
}

.login-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 1000px;
  background-color: hsla(0, 0%, 35%, 0.918);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  margin: 0;
  border-radius: 12px;
}

#login-form {
  flex: 1 0 100%;
  max-width: 400px;
  min-height: 200px;
  width: 100%;
  padding: 20px 30px;
}

#login-form p {
  margin-bottom: 30px;
}

#login-form p.form-title {
  color: #fff;
  font-family: "Tahoma";
  font-size: 25px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
}

#login-form .ant-form-item-label>label.ant-form-item-required::before {
  display: none;
}

#login-form .ant-input-affix-wrapper {
  padding: 12px 15px;
}

#login-form .ant-btn {
  height: 42px;
  letter-spacing: 1px;
  border-radius: 6px;
}

.login-form-button {
  width: 100%;
  font-weight: bold;
}

.illustration-wrapper {
  display: none;
  align-items: flex-end;
  max-width: 800px;
  min-height: 100%;
  background-color: #fffdf2;
  padding: 0px;
  height: 100%;
}

.illustration-wrapper img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: fill !important;
}

.Imgtitle {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px !important;
}

.Imgtitle img {
  width: 80%;
}

.keycode {
  text-align: center;
}

.keycode a {
  font-weight: bold;
  color: #aaa !important;
  text-decoration: underline !important;
}

.keycode a:hover {
  color: #00549a !important;
}

.layouthomepage {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.parenbanner {
  align-items: center;
  width: 100%;
  position: relative;
  text-align: center;
  height: 60px;
}

.parenbanner-box {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  margin: 0;
  border-radius: 5px;
  position: fixed;
  width: -webkit-fill-available;
  z-index: 2;
  justify-content: space-between;
  color: #706d7d;
}

.logobanner {
  height: 8vh;
  max-height: 60px;
}

.banner-group {
  display: flex;
  padding: 0;
  align-items: center;
}

.banner-group-name {
  text-align: right;
  align-items: center;
}

.banner-group-name-fullname {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.banner-group-name-position {
  padding: 0;
  margin: 0 !important;
  font-size: 15px;
}

.banner-group-avata {
  padding: 10px;
}

.banner-group-menu {
  margin: 15px;
}

.banner-group-menu-icon {
  margin-left: 10px !important;
  font-size: 150%;
}

.banner-group-avatar {
  background-color: yellowgreen;
  font-size: 20px;
  font-weight: bold;
}

.banner-group-menu-icon-mobi {
  display: none;
}

.menu-items {
  height: 100%;
  width: 100%;
  color: #fff;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.menu-item {
  height: 100%;
  width: 100%;
  color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: left;
  display: flex;
  height: 50px;
  align-items: center;
  font-weight: bold;
  transition: all 0.4s;
}

.menu-item:hover {
  background-color: #00549a;
  box-shadow: rgba(207, 204, 204, 0.4) 0px 2px 4px,
    rgba(228, 227, 227, 0.3) 0px 7px 13px -3px,
    rgba(193, 193, 193, 0.2) 0px -3px 0px inset;
  padding-left: 10px;
}

.menu-item p {
  padding: 0;
  margin: 0px 0px 0px 10px;
}

.ant-layout-sider-children {
  background-color: #283046;
}

.menu-items-drawer {
  background-color: #283046 !important;
  padding: 0px;
}

.menu-items-drawer .ant-drawer-body {
  padding: 10px;
}

.drop-menu-item {
  font-family: "Tahoma";
  align-items: center;
  display: flex;
}

.drop-menu-item p {
  margin: 0;
  padding: 0;
}

.drop-menu-item-icon {
  margin-right: 5px;
}

.container-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.item-function {
  flex-basis: 33.33%;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.item-function-detail {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: left;
  transition: all 0.5s;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.item-function-detail p {
  margin: 0;
  padding: 0;
  margin-left: 10px !important;
}

.ant-btn-primary {
  background-color: #00529c !important;
  border-color: #00529c !important;
}

.item-function-detail:hover {
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  color: #000;
  padding-left: 20%;
  font-weight: bold;
}

.item-function-detail:hover p {
  filter: drop-shadow(0 0 0.25rem #fff);
}

.link-items {
  width: 100%;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  font-weight: bold;
  color: #fff;
  padding: 5px 10px;
  font-family: 'Tahoma';
  cursor: pointer;
}

@media screen and (max-width: 1920px) {
  .item-function {
    flex-basis: 25%;
  }
}

@media screen and (min-width: 1920px) {
  .item-function {
    flex-basis: 20%;
  }
}

@media screen and (max-width: 1100px) {
  .login-page {
    background-image: none;
    width: 100vw;
    height: 100vh;
  }

  .login-box {
    flex-direction: column;
    box-shadow: none;
    height: 100vh;
  }

  .illustration-wrapper {
    max-width: 100%;
    min-height: auto;
  }

  #login-form {
    max-width: 100%;
  }

  .logo-image {
    display: none !important;
  }

  .sider-menu {
    display: none;
  }

  .logobanner {
    display: none;
  }

  .banner-group-name {
    display: none;
  }

  .logobanner {
    width: 100%;
    padding: 10px;
  }

  .banner-group-menu-icon-mobi {
    display: inline-block;
  }

  .banner-group-menu-icon-web {
    display: none;
  }

  .item-function {
    flex-basis: 33.33%;
  }
}

@media screen and (max-width: 768px) {
  .item-function {
    flex-basis: 100%;
  }
}